
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&family=Tinos:wght@400;700&display=swap');

:root{
    --colorPrimary: #F1CDB3;
    --colorLight: #fafafa ;
    --colorDark: #545454;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    height: 100%;
    background: url(img/start-screen-gradient-background.svg);
    background-repeat: no-repeat;
}

.navBar{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    
}

.logo{
    margin-left: 40px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

h1{
    color: var(--colorPrimary);
    font-family: 'Tinos', serif;
    font-weight: 400;
}

.logo_paragraph{
    padding-top: 10px;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    font-size: 13px;
}


.nav{
    display: flex;
    align-items: center;
}


.navigation{
    padding-right: 35px ;
    color: var(--colorLight);
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    cursor: pointer;
}


/*---------------------------------------------*/

.header_content{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 60px;
}

.header_text{
    width: 36vw;
    margin-right: 42px;
    
}

.header_text h2{
    width: 78% ;
    color: #fff;
    font-family: 'Tinos', serif;
    font-size: 44px;
    line-height: 57px;
    font-weight: 400;
    
    
}

.header_text p {
    width: 100%;
    color: #cdcdcd;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    line-height: 24px;
    margin-top: 42px;

    
}

.button0{
    width: 207px;
    height: 52px;
    background-color: var(--colorPrimary);
    border-radius: 50px;
    border: none;
    color: #292929;
    font-size: 17px;
    font-family: 'Tinos', serif;
    margin-top: 40px;
    cursor: pointer;
}


.header_img{
margin-right: 40px;
}

.header_img img {
    width: 100%;
    height: 100%;
}




/*-------------Section_1---------------------------------------------------*/

.section_1{
    height: 100%;
}

.section1_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 100px 0;
}

.section1_text{
    width: 32vw;
    margin-left: 130px;
}

.section1_text h2{
   width: 70% ;
   font-family: 'Tinos', serif;
   color: #545454;
   font-size: 35px;
   font-weight: 400;
}

.section1_text p{
    margin-top: 25px;
    color: #4c4c4c;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Arimo', sans-serif;
}


/*----------Section_2-------------------------------*/

.section_2{

height: 100%;
background-color: #f6f6f6;
display: flex;
flex-direction: column;
align-items: center;


}



.section2_header h3{

    width: 30vw;
    text-align: center;
    font-weight: 400;
    color: #545454;
    font-size: 3vw;
    font-family: 'Tinos', serif;
    line-height: 45.5px;
    margin-top: 80px;
    
}

.carousel{
    display: flex;
    justify-content: center;
}



.pets_card{
    margin: 60px 45px 60px 45px;
    width: 21vw;
    height: 33vw;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cardImg{
    width: 21vw;
    height: 21vw;
}


.pets_card .petName{
    color: var(--colorDark);
    font-weight: 400;
    font-size: 1.5vw;
    font-family: 'Tinos', serif;
    margin: 30px 0 30px 0;
}

.button1{
    width: 15vw;
    height: 4vw;
    background-color: transparent;
    border: var(--colorPrimary) 2px solid;
    border-radius: 100px;
    color: #292929;
    font-size: 1.5vw;
    font-family: 'Tinos', serif;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 30px;

}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 300px;
}

.button_prev{
    top: 300px; 
    right: 550px ;
    margin-left: 40px ; 
}


.button_next{
    bottom: 470px; 
    left: 550px ; 
    margin-right: 40px;
}

.section2_button{
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}